 .container {
     border: 1px, solide none;
     background-image: -moz-repeating-linear-gradient(white skyblue);
 }

 .weathercondition2 {
     position: relative;
     margin-top: -70px;
     margin-left: 250px;
     line-height: .5;
     font-style: italic;
     margin-bottom: 50px;

 }

 .weathercondition1 {
     line-height: .5;
     text-align: left;
     margin-left: 50px;


 }

 .temp {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 25px;
 }

 .pagecontent {
     border: 2px none solid;
     background-image: -webkit-linear-gradient(skyblue, white);
     text-align: center;
     margin-right: 850px;
     border-radius: 0 0 100px 0px;
     box-shadow: 10px 10px 7px gray;
     margin-top: 10px
 }

 .colwidth {
     display: grid;
     column-gap: 0px;
     grid-template-columns: 105px 105px 105px 105px 105px;
     margin: 0;
 }

 .tempemoji {
     position: relative;
     margin-top: -50px;
     text-align: left;
     margin-left: 50px;

 }

 .cloud-icon {
     font-size: 50px;
 }